body {
  background-color: cornsilk;
}

#decDiv {
  width: fit-content;
  height: 75px;
  display: flex;
  align-content: center;
}

button {
  float: right;
  border-radius: 10px;
  color: rgb(124, 9, 9);
  font-size: larger;
  font-weight: bold;
}

#currentNumber {
  float: left;
  height: 100px;
  width: 250px;
  text-align: center;
  color: olive;
}

h1 {
  display: block;
  color: olive;
}